=provide(:title, category.name)
.col-7.light-font
  =link_to "Add product", new_category_product_path if user_signed_in?
  %section.catalog-grid
    .container
      .row
        =render  products
%br
